---
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="hu">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/logo.png" />
		<ViewTransitions />
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        
		<title>{title}</title>
		<style>
			/* Smooth scroll effektus az egész oldalra */
			html {
				scroll-behavior: smooth;
			}
			/* A Playfair Display használata a címsorokhoz */
			.font-serif {
				font-family: 'Playfair Display', serif;
			}
		</style>
	</head>
	<body class="bg-gray-50 text-gray-800 antialiased font-sans">
		<slot />
	</body>
</html>